<html ng-app="RandomDistractorGenerator">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <script src="maths.js" type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body ng-controller="MainController">
  <div class="mainbox">
    <h1>Random Distractor Generator</h1>
    <div class="inputs">
      <div class="inputColumn">
        <label for="value">Around the value: </label>
        <input type="text" name="value" id="value" ng-model="value" onclick="this.select();" />
      </div>
      <div class="inputColumn">
        <label for="spread">Spread: </label>
        <input type="text" name="spread" id="spread" ng-model="spread" onclick="this.select();" />
      </div>
      <div class="inputColumn">
        <label for="numberOfDistractors">Number of distractors:</label>
        <input type="number" name="numberOfDistractors" id="numberOfDistractors" ng-model="numberOfDistractors" onclick="this.select();" />
      </div>
      <div class="inputColumn">
        <p class="fakeLabel">&nbsp;</p>
        <button class="generateDistractors" ng-click="generateDistractors()">Go</button>
      </div>
    </div>
    <div style="padding: 50px;"><input type="checkbox" name="assumeLowest" id="assumeLowest" ng-model="assumeLowest" /><label for="assumeLowest"> Assume the lowest number of significant figures.</label> (In other words, for a number like 2200, assume that the number of significant
      figures is 2 rather than 4.)</div>
    <div class="guessedAtSignificantFigures">Guessed that the number was given to <strong>{{guessedAtSignificantFigures}}</strong> significant figures.</div>
    <div class="distractors" id="copyText">
      <div>key = {{value}}</div>
      <div ng-repeat="distractor in distractors">{{distractor.value}}</div>
    </div>
    <div class="controls">
      <button data-clipboard-text="{{copyText}}" class="copyButton">Copy</button>
    </div>
  </div>
</body>

</html>